:root {
    --ff-main: 'Open Sans', sans-serif;
    --ff-accent: 'Montserrat', sans-serif;
    --clr-accent: #18d26e;
}

p {
    font-family: var(--ff-main);
}

a {
    cursor: pointer;
}

#navBar {
    height: 60px;
}

.nav-position {
    display: flex;
    justify-content: space-around;
    height: 41px;
}

.nav-logo {
    display: flex;
    height: 41px;
    align-items: center;
}

.nav-logo h1 {
    padding: 5px 0px;
    margin: 0;
    width: 4px;
    background: var(--clr-accent);
    height: 40px;
    margin-right: 10px;
}

.nav-logo>a {
    font-family: var(--ff-accent);
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 3px;
}

.nav-item a {
    text-transform: uppercase;
    font-family: var(--ff-accent);
    font-size: 13px;
    color: white !important;
    font-weight: bold;
}

.carousel .carousel-item {
    height: 100vh;
    position: relative;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100vh;
}

.carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    top: 45%;
    z-index: 1;
}

.carousel-indicators {
    z-index: 2;
}

.carousel-caption h5,
.carousel-caption a {
    font-family: var(--ff-accent);
}

.carousel-caption h5 {
    font-size: 48px;
    font-weight: 800;
}

.carousel-caption a {
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--clr-accent);
    letter-spacing: 1px;
    color: white;
    padding: 0.5px 2px;
    border-radius: 2rem;
}

.carousel-caption a:hover {
    background-color: white;
    color: var(--clr-accent);
}